body{
  background-color: rgb(80, 19, 19);
  margin: 0px;
  max-width: 100%;
}
.main{
  background-color: red;
  height: 50px;
  align-items: center;
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  height: 80px;
  box-shadow: 5px 5px 30px grey;
  display: flex;
  justify-content: space-between;
}
.main #name{
  font-family: fantasy;
  margin-left: 40px;
  text-decoration: none;
  color: black;
  text-shadow: 5px 5px 10px grey;
}
.vid{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
iframe{
  border-radius: 8px;
}
.vid img{
  margin-right: 90px;
  display: flex;
}
select{
  height: 30px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
}
option{
  background-color: yellow;
  width: 100px;
  font-size: 15px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.sname{
  margin-top: 50px;
  margin-left: 270px;
  font-size: medium;
}
#img{
  display: none;
}
#mobsel{
  display: none;
}
@media (max-width: 600px){
.main{
  width: auto;
  height: 40px;
  font-size: 15px;
}
.main #name{
  margin-left: 15px;
}
.sname{
  font-size: 15px;
  margin-left: 20px;
  display: block;
}
.vid{
  margin-top: 10px;
}
.vid img{
  display: none;
}
iframe{
  width: 460px;
  height: 240px;
}
select{
  display: none;
}
#img{
  margin-left: 0px;
  width: 170px;
  height: 270px;
  display: flex;
  margin: 0px;
}
#mobsel{
  display: block;
}
.mobdiv{
  align-items: center;
  justify-content: space-between;
  display: flex;
}
}